$primary: #2b50ba;
$secondary1: #ffffff;
$secondary2: #e6f4ff;
$secondary3: #1c357e;
$neutral1: #525252;
$neutral2: #edf2f4;
$neutral3: #ffffff;
$background: #dee0e6;
$background2: #f6f6f6;
$background3: #f8f8f8;
$textHeading: #007ac0;
$textHeading2: #0000c9;
$textHeading3: #003fe2;
$textSuggestion: #66bfff;
$textGray1: #1d1d1d;
$textGray2: #505050;
$textGray3: #737373;
$textLightGray1: #e2e2e2;
$textLightGray2: #a0a0a0;
$textBlack: #000;
$headerMinHeight: 6rem;
