@import "../../styles/typography.scss";

.app-card {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;

	.app-card-title {
		font-family: Noto Sans;
		@include font-size(5);
		@include font-weight("bold-600");
		color: #2b50ba;
	}
	.app-card-desc {
		color: #000;
		@include font-size(4);
		min-height: 4.5rem;
	}
	.disabled-app-card {
		color: #949494;
		font-style: italic;
		min-height: 10.2rem;
	}
	.app-card-data {
		// bootstrap mt-4 and mt-5 is 1.5 and 3 rem respectively
		margin-top: 1.75rem;
	}
	.app-card-divider {
		width: 0.0625rem;
		height: 2.5625rem;
		border-right: 1px solid #cacaca;
	}
}

@media (max-width: 1439px) {
	.app-card {
		min-width: 16.375rem;
		min-height: 20.375rem;
	}
}
